body {
    background-size: cover;
    font-family: Arial, sans-serif;
    color: darkgreen;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #152512;
}
